@using DigiMedia.Core.Models
@model List<Project>
@{
    var counter = 1;
}


<div class="container">
    <div class="row mt-3">
        <div class="col-4 mb-3">
            <a asp-action="Create" asp-controller="Project" class="btn btn-outline-primary">Create project</a>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@(counter++)</th>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td><img src="~/uploads/projects/@item.ImageUrl" width="100px" height="100px" alt="Alternate Text" /></td>
                            <td>
                                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-warning">Update</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>